<table class="sortable"><tr><th>Editor</th><th>Changesets</th></tr>
#for $key, $value in $editors.items()
<tr><td>$key</td><td>$value</td></tr>
#end for
</table>
<p class="inlinesparkpie">$editorpiechartstring</p>
