<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>$title</title>
    <style type="text/css" media="all">@import "css/simple.css";</style>
    <script type="text/javascript" src="js/sorttable.js"></script>
    <script type="text/javascript" src="js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="js/jquery.sparkline.js"></script>
    <script type="text/javascript">
      $sparkstart
      $sparkbody 
      $sparkstop 
    </script>
  </head>
  <body>
    <h1>UID:$userId , Username:$userName</h1>
    $editorpiechart
    $content
    $datalicense
  </body>
</html>

